* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black !important;
}

header {
    background-color: #1a1919;
    position: fixed;
    z-index: 9999;
}

header h1 {
    color: #00FF99;
    font-weight: bold;
    font-size: 27px;
    margin: 10px 20px;
}

header a:hover {
    color: bisque !important;
}

.btn-warning {
    background-color: #FFD700 !important;
    height: 40px;
    width: 80px;
}

.btn-primary {
    background-color: #00BFFF !important;
    width: 110px;
    height: 40px;
}

main {
    padding: 300px;
}

#home {
    display: flex;
    gap: 40px;
    padding: 180px;
}

.intro {
    width: 2000px;
}

.intro h6 {
    color: #00FF99;
    border: 1px solid #00FF99;
    border-radius: 50px;
    width: 350px;
    padding: 20px;
    text-align: center;
    background-color: #092319;
    font-size: 20px;
}

.intro h1 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: 'Orbitron';
    font-size: 55px;
    margin: 30px 0;
}

.intro h2 {
    color: #00FF99;
    text-transform: uppercase;
    font-family: 'Orbitron';
    font-size: 34px;
    margin-bottom: 43px;
}

.intro p {
    color: white;
    opacity: 0.8;
    font-size: 20px;
    padding-right: 90px;
    margin-bottom: 40px;
}

.fa-brands {
    margin-right: 20px;
    color: whitesmoke !important;
    font-size: 27px;
}

.intro button {
    background: linear-gradient(135deg, #00ff9c, #00c6ff);
    color: black;
    font-size: 20px;
    border-radius: 40px;
    font-weight: 600;
    box-shadow: 0 0 40px rgba(0,255,200,0.5);
    transition: all 0.3s ease;
    width: 290px;
    height: 60px;
}

.intro button:hover {
    transform: scale(1.1);
}

.introimg img {
    width: 580px;
    margin-top: 150px;
    background:radial-gradient(circle at top left, rgba(0,255,170,0.35), transparent 60%),
                radial-gradient(circle at bottom right, rgba(255,0,200,0.35), transparent 60%);
    box-shadow: 0 0 80px rgba(0,255,170,0.35),
                0 0 120px rgba(0,255,255,0.15);
}

.tier {
    margin: 200px 0;
    padding: 160px 160px 0px !important;
}

.tier h1 {
    text-align: center;
    color: white;
    font-family: 'Orbitron';
    text-transform: uppercase;
    margin: 30px;
    font-size: 44px;
    font-weight: bold;
}

.tier p {
    text-align: center;
    color: white;
    opacity: 0.7;
    font-size: 20px;
    margin: 40px;
}

.card1 {
    background-color: #1A1A1A !important;
    box-shadow: 0 2px 3px #00ff9c;
    height: 450px !important;
    margin-right: 30px;
}

.card1 h4 {
    text-align: center;
    color: white;
    font-family: 'Orbitron';
    margin: 30px;
    font-size: 36px;
    text-transform: uppercase;
}

.card1 h5 {
    text-align: center;
    color:#00FF99;
    font-size: 50px;
    font-family: 'Inter';
}

.card1 li {
    list-style:none;
    color: white;
    line-height: 40px;
    margin-left: -20px;
    font-size: 18px;
}

.card1 a {
    margin-top: -10px;
    margin-left: 130px;
}

.card1:hover {
    background-color: #001F3F !important;
}

.update {
    background-color: #111111;
    padding: 70px 180px !important;

}

.recent {
    display: flex;
    justify-content: space-between;
}

.recent h1 {
    text-transform: uppercase;
    margin: 56px 0;
    color: white;
    font-weight: bold;
    font-family: 'Orbitron';
}

.recent p {
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.card2 {
    background-color: #1A1A1A !important;
    height: 220px !important;
}

.card2 h5 {
    font-family: 'Orbitron';
    margin: 40px 3px;
    font-size: 25px;
}

.card2 h6 {
    color: white;
    opacity: 0.6;
    margin: -10px 0px 20px;
}

.card2 p {
    color: white;
    font-size: 18px;
}

.feature {
    background-color: black;
    margin: 40px 0;
    padding: 180px !important;
}

.heading-font {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
.nft-card {
    background-color: #1a1a1a !important;
    border-radius: 12px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    border: none;
    line-height: 40px;
}
.nft-card:hover {
    transform: translateY(-5px);
}
.nft-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
.text-green {
    color: #00ff88;
}
.text-muted-custom {
    color: #a0a0a0;
    font-size: 0.9rem;
}

.form {
    background-color: #0E1720 !important;
    padding: 180px !important;
}

.contact-card {
    background-color: #161b22;
    border: 1px solid #21262d;
    border-radius: 20px;
    padding: 40px;
    border-color:  #035847;
    transition: all 0.2s ease;
}

.form-control {
    background-color: #0d1117 !important;
    border-color:  #087962 !important;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
}

.contact-card:hover {
    box-shadow: 0 20px 100px rgba(0, 242, 173, 0.486) !important;
    transform: translateY(-10px);
}

.btn-send {
    background: linear-gradient(90deg, #00ffaa, #00ddeb);
    border: none;
    border-radius: 50px;
    color: #000;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    transition: 0.3s;
}

.heading-neon {
    font-family: 'Orbitron', sans-serif;
    color: #00ffcc;
    text-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    line-height: 1.5;
    margin-bottom: 25px;
}

.sub-text {
    color: #8b949e;
    font-size: 0.95rem;
    line-height: 1.8;
}

.form a {
    text-align: center !important;
}

.bg-color {
  background-color: #ff69b4;
}
.fill {
  font-size: 16px;
  font-weight: 600;
}
.btn-contact {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
.contact {
  color: #ff69b4;
}

footer {
    margin: 150px 0;
}
.footer {
  max-width: 800px;
  width: 100%;
}
.footer h1 {
    color: #00ff88;
    font-weight: bold;
    font-family: 'Orbitron';
}
.footer h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Orbitron';
}
.letter {
  letter-spacing: 15px;
}
.end img {
  width: 100%;
  height: 339px;
}