* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    margin-bottom: 0px;
}

header a:hover {
    color: bisque !important;
}

header button {
    width: 130px;
    height: 45px;
}

#home {
    padding: 20px 100px;
    background-color: #6366F1;
    display: flex;
    flex-wrap: nowrap;
    height: 590px;
}

.intro {
    color: white;
    width: 600px;
    margin: 60px 120px;
}

.intro h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 40px 0;
}

.intro p {
    opacity: 0.8;
    font-size: 20px;
    line-height: 35px;
}

.intro button {
    width: 270px;
    height: 65px;
    font-size: 20px;
}

.intro button:hover {
    background-color: rgb(82, 205, 219);
}

.homecard {
    display: flex;
    flex-direction: column;
    margin-left: -70px;
}

.smallcard {
    display: flex;
}

.card1 {
    background-color: white;
    width: 600px;
    height: 228px;
    padding: 40px;
    margin-left: 90px;
    border-radius: 12px;
    text-align: center;
    margin: 30px;
}

.icon {
    margin: -1px 0 30px;
}

.number {
    color:#6366F1;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.part {
    opacity: 0.5;
}

.card2 {
    background-color: white;
    width: 287px;
    height: 230px;
    padding: 40px;
    margin-left: 26px;
    border-radius: 12px;
    text-align: center;
}

#reason {
    background-color: #F9FAFB;
    margin-bottom: 80px;
    height: 600px;
}

#reason h1 {
    text-align: center;
    padding: 70px;
    font-weight: bold;
    text-transform: capitalize;
}

.reasoncard {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card3 {
    margin-top: -30px;
    background-color: white;
    text-align: center;
    width: 287px;
    height: 360px;
    padding: 60px 23px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px gray;
    transition: all 0.2s ease;
}

.card3 h3 {
    font-weight: bold;
    margin: 50px;
    font-size: 17px;
}

.card3:hover {
    transform: translateY(-10px);
}

#hot {
    margin: 70px;
}

#hot h1 {
    text-align: center;
    font-weight: bold;
}

#hot p {
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin: 40px;
}

#course {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card4 {
    width: 30%;
    height: 900px;
    box-shadow: 2px 3px 3px gray;
    border-radius: 10px;
}

.card4 img {
    width: 100%;
    border-radius: 10px;
}

.tag {
    position: absolute;
    left: 400px;
    border-radius: 10px;
    background-color: #6366F1;
    padding: 12px;
    color: white;
    font-weight: bold;
}