* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 0px;
}

header a:hover {
    color: bisque !important;
}

header button {
    width: 130px;
    height: 45px;
}

#home {
    padding: 20px 100px;
    background-color: #6366F1;
    display: flex;
    flex-wrap: nowrap;
    height: 590px;
}

.intro {
    color: white;
    width: 600px;
    margin: 60px 120px;
}

.intro h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 40px 0;
}

.intro p {
    opacity: 0.8;
    font-size: 20px;
    line-height: 35px;
}

.intro button {
    width: 270px;
    height: 65px;
    font-size: 20px;
}

.intro button:hover {
    background-color: rgb(82, 205, 219);
}

.homecard {
    display: flex;
    flex-direction: column;
    margin-left: -70px;
}

.smallcard {
    display: flex;
}

.card1 {
    background-color: white;
    width: 600px;
    height: 228px;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    margin: 30px;
}

.icon {
    margin: -1px 0 30px;
}

.number {
    color:#6366F1;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.part {
    opacity: 0.5;
}

.card2 {
    background-color: white;
    width: 287px;
    height: 230px;
    padding: 40px;
    margin-left: 26px;
    border-radius: 12px;
    text-align: center;
}

#reason {
    background-color: #F9FAFB;
    margin-bottom: 80px;
    height: 600px;
}

#reason h1 {
    text-align: center;
    padding: 70px;
    font-weight: bold;
    text-transform: capitalize;
}

.reasoncard {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card3 {
    margin-top: -30px;
    background-color: white;
    text-align: center;
    width: 287px;
    height: 360px;
    padding: 60px 23px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px gray;
    transition: all 0.2s ease;
}

.card3 h3 {
    font-weight: bold;
    margin: 50px;
    font-size: 17px;
}

.card3:hover {
    transform: translateY(-10px);
}

#hot {
    margin: 70px;
}

#hot h1 {
    text-align: center;
    font-weight: bold;
}

#hot p {
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin: 40px;
}

#course {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card4 {
    width: 30%;
    height: 790px;
    box-shadow: 2px 3px 3px gray;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.card4:hover {
    transform: translateY(-20px);
}

.card4 img {
    width: 100%;
    border-radius: 10px;
}

.tag {
    position: absolute;
    left: 400px;
    top: 1520px;
    border-radius: 10px;
    background-color: #6366F1 !important;
    padding: 12px;
    color: white;
    font-weight: bold;
    width: 120px;
}

.hottag {
    position: absolute;
    left: 950px;
    top: 1520px;
    border-radius: 10px;
    background-color: #EC4899 !important;
    padding: 12px;
    color: white;
    font-weight: bold;
    width: 70px;
}

.newtag {
    position: absolute;
    left: 940px;
    top: 2340px;
    border-radius: 10px;
    background-color: #6366F1 !important;
    color: white;
    font-weight: bold;
    width: 70px;
}

.card4 h6 {
    margin: 30px;
    border-radius: 6px;
    background-color: #F9FAFB;
    color:#6366F1;
    width: 109px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.card4 h2 {
    font-weight: bold;
    margin: 33px;
    text-transform: capitalize;
    line-height: 43px;
    font-size: 24px;
}

.text {
    text-align: left !important;
    margin-left: 33px !important;
    margin-top: 10px !important;
}

.detail {
    text-align: left !important;
    margin-left: 33px !important;
    font-size: 17px !important;
    opacity: 0.6 !important;
}

.detail span {
    margin-right: 20px;
}

hr {
    width: 88%;
    margin-left: 30px !important;
    opacity: 0.1 !important;
}

.old {
    text-align: left !important;
    opacity: 0.5 !important;
    margin: 33px !important;
    text-decoration: line-through;
    line-height: 2px;
}

.new {
    text-align: left !important;
    margin-left: 33px !important;
    color: #5759f5;
    font-weight: bold;
    font-size: 30px !important;
}

.register {
    display: flex;
}

.register button {
    background-color: #5759f5;
    color: white;
    width: 200px;
    height: 70px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 30px;
}

footer {
    background-color: #111827;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
}

.footer {
    width: 100%;
    height: auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer p {
    opacity: 0.5;
}

.box {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 130px 40px;
}

.social {
    display: flex;
    gap: 15px;
    margin-top: 2px !important;
}
.others {
    width: 160px;
    display: flex;
    gap: 15px;
    padding: 10px 5px;
    flex-direction: column;
    font-size: 16px;
    margin: 40px;
    line-height: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

#copyright {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #home {
        padding: 20px 100px;
        background-color: #6366F1;
        display: flex;
        flex-wrap: wrap;
        height: 1000px;
    }

    .intro {
        width: 100%;
        margin: 60px 0px;
        text-align: center;
    }

    .intro h2 {
        font-size: 55px;
        font-weight: bold;
        margin: 40px 0;
    }

    .intro p {
        opacity: 0.8;
        font-size: 20px;
        line-height: 35px;
    }

    .intro button {
        width: 270px;
        height: 65px;
        font-size: 20px;
        margin-top: 30px;
    }

    .homecard {
        display: flex;
        flex-direction: column;
        margin-left: -70px;
    }

    .card1 {
        background-color: white;
        width: 930px;
        height: 228px;
        margin: 0px;
    }

    .card2 {
        background-color: white;
        width: 450px;
        height: 230px;
        padding: 40px;
        margin: 26px 30px 0 0;
        border-radius: 12px;
        text-align: center;
    }

    #reason {
        height: 1000px;
    }

    .reasoncard {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
        margin-left: 30px;
    }

    .card3 {
        margin-top: -30px;
        background-color: white;
        text-align: center;
        width: 287px;
        height: 340px;
        padding: 60px 23px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px gray;
        transition: all 0.2s ease;
        margin-bottom: 40px;
    }

    #hot {
        margin: 70px 0px;
    }

    .card4 {
        width: 30%;
        height: 790px;
        box-shadow: 2px 3px 3px gray;
        border-radius: 10px;
        transition: all 0.2s ease;
        margin-left: 10px;
    }

    .card4 img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    .tag {
        left: 160px;
        top: 2310px;
        border-radius: 10px;
        width: 100px;
        font-size: 17px !important;
    }

    .hottag {
        left: 520px;
        top: 2310px;
    }

    .newtag {
        left: 520px;
        top: 3130px;
    }

    .card4 h6 {
        margin: 20px;
        width: 89px;
        font-size: 12px;
    }

    .card4 h2 {
        margin: 20px;
        font-size: 20px;
    }

    .text {
        margin-left: 20px !important;
        font-size: 15px !important;
    }

    .detail {
        margin-left: 20px !important;
        font-size: 15px !important;
        line-height: 40px;
    }

    .detail span {
        margin-right: 32px;
    }

    hr {
        margin-left: 19px !important;
    }

    .old {
        margin: 20px !important;
    }

    .new {
        margin-left: 20px !important;
        font-size: 28px !important;
    }

    .register button {
        height: 120px;
        margin: -7px 20px 0 -20px;
        font-size: 19px;
    }

    .footer {
        justify-content: left;
    }

    .box {
        display: flex;
        width: 400px;
        flex-wrap: wrap;
        justify-content: left;
        margin: 120px 40px 0 49px;
    }

    .social {
        margin-top: -30px !important;
    }

    .others {
        width: 370px;
        gap: 15px;
        padding: 10px 1px;
        font-size: 16px;
        margin: 40px 58px;
    }

    .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer hr {
        margin-left: 50px !important;
    }

    #copyright {
        margin-left: 340px;
    }
}

@media (max-width: 768px) {
    #home {
        padding: 10px 0;
        flex-direction: column;
        height: 1000px;
    }

    .intro {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .intro h2 {
        font-size: 32px;
        font-weight: bold;
        margin: 30px 0;
    }

    .intro button {
        width: 96%;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .intro button:hover {
        background-color: rgb(82, 205, 219);
    }

    .homecard {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .card1 {
        background-color: white;
        width: 680px;
        margin: 22px;
    }

    .card2 {
        width: 330px;
        margin-left: 20px;
    }

    #reason {
        background-color: #F9FAFB;
        margin-bottom: 80px;
        height: 1540px;
    }

    #hot {
        height: 1700px;
    }

    .reasoncard {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card3 {
        margin-top: 10px;
        width: 680px;
        height: 290px;
        transition: all 0.2s ease;
    }

    .card3 h3 {
        font-weight: bold;
        margin: 50px auto 20px;
        font-size: 20px;
    }

    #hot {
        margin: 0px;
    }

    #course {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card4 {
        width: 100%;
        height: 840px;
    }

    .tag {
        left: 560px;
        top: 3120px;
    }

    .hottag {
        left: 560px;
        top: 4000px;
    }

    .newtag {
        position: absolute;
        left: 560px;
        top: 6600px;
    }

    hr {
        width: 92%;
        margin-left: 30px !important;
        opacity: 0.1 !important;
    }

    .register {
        justify-content: space-between;
    }
    
    .register button {
        width: 200px;
        height: 50px;
        margin: 50px 30px;
    }

    footer {
        margin-top: 3740px !important;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box {
        width: 680px;
        text-align: center;
        margin-bottom: 0;
    }

    .social {
        display: flex;
        gap: 30px;
        margin-top: 2px !important;
        margin-left: 180px;
    }
}
