header {
    background-color: rgb(54, 126, 199);
    color: white;
    text-align: center;
}
header h1 {
    background-color: rgb(54, 126, 199);
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

header p {
    background-color: rgb(54, 126, 199);
    color: white;
    text-align: center;
}

footer {
    background-color: rgb(54, 126, 199);
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

body {
    background-color: rgb(237, 249, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:rgb(54, 126, 199);
}

ul {
    list-style: none;
}

li:hover {
    color: rgb(54, 126, 199);
}

.solution {
    color: rgb(54, 126, 199);
}

.dont {
    color: rgb(183, 23, 23);
}

a:hover {
    color: rgb(4, 46, 4);
}