* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0A2C2E;
    display: flex;
    color: white;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

.fa-diamond {
    font-size: 40px;
    margin: 20px 10px 20px 40px;
    color: #3AD472;
}

.logo {
    display: flex;
}

.keni {
    display: flex;
    flex-direction: column !important;
    line-height: 1px;
    justify-content: center;
    text-transform: uppercase;
}

.keni h1 {
    font-size: 20px;
    font-weight: bold;
}

.keni span {
    font-size: 13px;
}

nav {
    margin-top: 27px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 10px;
}

.others {
    margin-right: 50px;
}

.others i {
    font-size: 20px;
    margin: 30px 10px;
}

.detail {
    display: none;
}

nav a:hover {
    color: #3AD472;
}

.others i:hover {
    color: #3AD472;
}

.banner {
    display: flex;
    padding: 210px 70px;
    background-color: #154143;
    gap: 200px;
}

.bannertext {
    width: 50%;
}

.bannertext h1 {
    color: white;
    font-weight: bold;
    font-size: 57px;
}

.bannertext h2 {
    color: #3AD472;
    font-weight: bold;
    font-size: 59px;
}

.bannertext p {
    color: whitesmoke;
    opacity: 0.9;
    font-size: 20px;
    padding-right: 100px;
    margin: 30px 0;
}

.banner span {
    color: white;
    margin-right: 6px;
}

.click {
    background-color: #4ADE80;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border: 0;
    border-radius: 7px;
    margin-left: 20px;
    box-shadow: 0px 1px 18px #3AD472;
    transition: all 0.2s ease;
}

.click:hover {
    background-color: #22C55E;
    transform: translateY(-5px);
}

.bannerimg img {
    width: 500px;
    height: 450px;
    margin-left: -90px;
}

.intro {
    margin: 80px 80px 180px;
    text-align: center;
}

.intro h1 {
    margin: 50px;
}

.black {
    font-weight: bold;
}

.green {
    color: #22C55E;
    font-weight: bold;
}

.card1 {
    padding: 30px 20px 10px;
    border: 0 !important;
    background-color: #F8FAFC !important;
    border-radius: 17px !important;
    transition: all 0.2s ease;
}

.icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.card1 h5 {
    font-weight: bold;
    margin-bottom: 0;
}

.card1:hover {
    transform: scale(1) translateY(-20px);
    box-shadow: 5px 5px 10px gray;
}

.product {
    margin: 90px;
}

.product h1 {
    text-align: center;
    margin-bottom: 60px;
}

.card2 {
    border-radius: 20px !important;
    border: 0 !important;
    box-shadow: 0px 20px 40px rgb(233, 229, 229);
    transition: all 0.2s ease;
}

.card2 img {
    width: 100%;
    height: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card2 h5 {
    margin: 23px 10px 0px;
    font-weight: bold;
}

.card2 p {
    color: #22C55E;
    font-weight: bold;
    margin: 0 10px;
}

.card2:hover {
    transform: translateY(-10px);
}

.reason {
    display: flex;
    gap: 50px;
    margin: 180px 90px;
}

.reason img {
    width: 47%;
    border-radius: 20px;
}

.answer h1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
} 

.answer p {
    font-weight: 450;
}

.best {
    position: absolute;
    top: 2130px;
    right: 90px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #ffc107;
    color: #000;
    padding: 10px 22px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    font-size: 30px;
}

.best span {
    border-radius: 20px;
    background-color: white;
}

.best h4 {
    font-size: 18px;
    margin-top: 11px;
    font-weight: 600;
}

.quotes {
    margin: 40px;
}

.quotes h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card3 {
    background-color: #0A2C2E !important;
    color: white !important;
    border-radius: 17px !important;
    line-height: 1px;
    padding: 10px;
}

.card3 p {
    margin-top: 20px;
}

.card3 h5 {
    font-weight: bolder;
    font-size: 16px;
}

.fill {
    margin: 190px 110px 90px;
    background-color: #174447 !important;
    width: 1310px !important;
    height: 300px !important;
    color: white;
    text-align: center;
    padding: 90px 90px 0;
    border-radius: 20px;
}

.fill h1 {
    font-weight: bold;
    font-size: 24px;
}

form {
    display: flex;
}

input {
    width: 280px !important;
    margin-top: 10px !important;
    margin-left: 430px !important;
    height: 45px;
}

.fill .click {
    margin-left: 16px;
    margin-top: 5px;
}

footer {
    background-color: #021617;
}

.footer {
    display: flex;
    gap: 230px;
    color: white;
    opacity: 0.6;
    line-height: 10px;
    height: 190px;
    padding-top: 40px;
    font-size: 15px;
}

.box {
    margin-left: -10px;
}

.box h3 {
    text-transform: uppercase;
    margin: 10px 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width:768px) {
    nav {
        display: none;
    }

    .others {
        padding-left: 90px ;
    }

    .detail {
        display: inline-block;
        font-size: 40px;
        margin-top: 3px;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }

    .bannertext {
        order: 2;
        text-align: center;
        width: 100%;
    }

    .bannerimg img {
        display: flex;
        order: 1;
        width: 100%;
        margin-top: -123px;
        transform: translateX(100px);
    }

    .bannertext h1 {
        font-size: 36px;
    }

    .bannertext h2 {
        font-size: 40px;
    }

    .bannertext p {
        font-size: 14px;
        margin-left: 70px;
    }

    .click {
        width: 100%;
        margin-top: 30px;
        margin-left: -10px;
    }

    .intro {
        margin: 80px 80px 180px;
        text-align: center;
    }

    .card1 {
        width: 100%;
        margin: 30px 0;
    }

    .card2 {
        margin: 30px 0;
    }

    .card2 img {
        width: 100%;
        height: 280px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .reason {
        flex-wrap: wrap;
    }

    .answer {
        width: 100%;
        text-align: center;
    }

    .reason img {
        width: 100%;
    }

    .best {
        top: 3790px;
        right: 6px;
    }

    .card3 {
        margin: 20px 0;
    }

    .fill {
        height: 350px !important;
    }

    form {
        flex-wrap: wrap;
    }

    input {
        width: 300px !important;
        margin-left: 200px !important;
        margin-bottom: 20px;
    }

    .fill .click {
        width: 100%;
        margin-top: 30px;
    }

    .footer {
        gap: 110px;
    }
}