body {
    background-color: #f4f4f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
header {
    text-align: center;
}
header h2 {
    margin: 0;
    color: #1e90ff;
}
header p {
    margin: 0;
}
.underline {
    text-decoration: line-through;
}
.bold {
    font-weight: bold;
}
.space {
    letter-spacing: 5px;
}