body {
    background-color: #f4f4f9;
    font-size: 22px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 0;
    color:#1e90ff;
    text-align: center;
}
p {
    margin-top: 0;
}
.order{
    margin-bottom: 0;
}
.SmileCare{
    font-size: 25px;
}