body {
    background-color: #F0F9FF;
}

header {
    text-align: center;
}

header h1 {
    background-color: rgb(210, 255, 242);
    color:rgb(10, 119, 83)
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(8, 62, 162, 0.708);
    margin: 2px;
    font-weight: bold;
}

.header {
    background-color: rgb(225, 247, 254);
}

a:hover {
    color: white;
    background-color: rgba(24, 78, 225, 0.733);
}

table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

thead {
    color:rgba(8, 62, 162, 0.708);
    background-color: rgb(171, 228, 249);
    font-size: 15px;
}

tbody {
    background-color: white;
    font-size: 14px;
}

tbody tr:hover {
    background-color: rgb(195, 246, 246);
}

.footer {
    background-color: rgba(6, 99, 91, 0.89);
    text-align: center;
    margin-top: 30px;
}

.footer p {
    color: white;
    font-size: 16px;
    margin: 5px
}