* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F4F7FC;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: auto;
    max-width: 1800px;
}

header {
    background-color:#0C6DFB;
    display: flex;
    justify-content: space-evenly;
    padding: 23px;
    width: 100%;
    height: auto;
}

header p {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-top: 3px;
    margin-left: 39px;
}

header input {
    background-color: #3D85ED;
    width: 36%;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    font-size: 20px;
    margin-top: 4px;
    outline: none;
}

header input::placeholder {
    padding-left: 20px;
    height: 44px;
}

header input:focus {
    color: white;
    width: 36%;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    font-size: 20px;
    margin-top: 4px;
    padding-left: 20px;
}

nav {
    margin: 12px;
}

header a {
    text-decoration: none;
    color: white;
    padding: 13px; 
    font-size: 22px;  
}

.home {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 40px 320px;
    width: 76%;
    height: 190px;
    border-radius: 17px;
    box-shadow: 5px 3px 7px gray;
    gap: 500px;
}

.intro {
    margin-top: 30px;
    font-size: 17px;
}

.intro p {
    font-size: 23px;
    opacity: 0.7;
}

#progress {
    margin-top: 45px;
    font-size: 20px;
}

#studyCourse {
    margin: 40px 320px;
    width: 76%;
}

#studyCourse h2 {
    color: #0C6DFB;
    margin: 30px 0 15px;
    font-size: 27px;
}

.countinue {
    display: flex;
    gap: 25px;
}

.rule1 {
    width: 100%;
    height: 139px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.css {
    background-color: white;
    width: 39%;
    border-radius: 20px;
    height: 300px;
    box-shadow: 3px 3px 4px gray;
}

.css h4 {
    margin: 20px 20px 0;
    font-size: 20px;
} 

.css p {
    margin: 0px 20px;
    font-size: 19px;
    opacity: 0.7;
}

.css button {
    margin: 20px 20px 0;
    font-size: 20px;
    border-radius: 10px;
    width: 370px;
    height: 50px;
    color: white;
    background-color: #0C6DFB;
    border: 0px;
    transition: all 5s ease;
}

.css:hover {
    transform: translateY(-7px);
}

.javaScript {
    background-color: white;
    width: 40%;
    border-radius: 20px;
    height: 300px;
    box-shadow: 3px 3px 4px gray;
}

.javaScript h4 {
    margin: 20px 20px 0;
    font-size: 20px;
} 

.javaScript p {
    margin: 0px 20px;
    font-size: 19px;
    opacity: 0.7;
}

.javaScript button {
    margin: 20px 20px 0;
    font-size: 20px;
    border-radius: 10px;
    width: 370px;
    height: 50px;
    color: white;
    background-color: #0C6DFB;
    border: 0px;
    transition: all 5s ease;
}

.javaScript:hover {
    transform: translateY(-7px);
}

.rwd {
    background-color: white;
    width: 39%;
    border-radius: 20px;
    height: 300px;
    box-shadow: 3px 3px 4px gray;
}

.rwd h4 {
    margin: 20px 20px 0;
    font-size: 20px;
} 

.rwd p {
    margin: 0px 20px;
    font-size: 19px;
    opacity: 0.7;
}

.rwd button {
    margin: 20px 20px 0;
    font-size: 20px;
    border-radius: 10px;
    width: 370px;
    height: 50px;
    color: white;
    background-color: #0C6DFB;
    border: 0px;
    transition: all 5s ease;
}

.rwd:hover {
    transform: translateY(-7px);
}

.suggest {
    display: flex;
    gap: 25px;
}

.rule2 {
    width: 100%;
    height: 199px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.newbie {
    background-color: white;
    width: 49%;
    border-radius: 20px;
    height: 360px;
    box-shadow: 3px 3px 4px gray;
}

.newbie h4 {
    margin: 20px 20px 0;
    font-size: 20px;
} 

.newbie p {
    margin: 0px 20px;
    font-size: 18px;
    opacity: 0.7;
}

.newbie button {
    margin: 20px 20px 0;
    font-size: 20px;
    border-radius: 10px;
    width: 600px;
    height: 50px;
    color: white;
    background-color: #0C6DFB;
    border: 0px;
    transition: all 5s ease;
}

.newbie:hover {
    transform: translateY(-7px);
}

.python {
    background-color: white;
    width: 49%;
    border-radius: 20px;
    height: 360px;
    box-shadow: 3px 3px 4px gray;
}

.python h4 {
    margin: 20px 20px 0;
    font-size: 20px;
} 

.python p {
    margin: 0px 20px;
    font-size: 18px;
    opacity: 0.7;
}

.python button {
    margin: 20px 20px 0;
    font-size: 20px;
    border-radius: 10px;
    width: 600px;
    height: 50px;
    color: white;
    background-color: #0C6DFB;
    border: 0px;
    transition: all 5s ease;
}

.python:hover {
    transform: translateY(-7px);
}

.detail {
    display: none;
}

@media (min-width: 1024px) and (max-width:1200px) {
    .container {
        max-width: 100%;
        height: auto;
    }
    header {
        background-color:#0C6DFB;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

    header p {
        color: white;
        font-weight: bold;
        font-size: 36px;
        margin-top: 3px;
        margin-left: -80px;
    }

    header input {
        background-color: #3D85ED;
        width: 36%;
        height: 40px;
        border-radius: 30px;
        border: 0px;
        font-size: 20px;
        margin-top: 4px;
        outline: none;
        margin-left: 30px;
    }

    header input::placeholder {
        padding-left: 20px;
        height: 44px;
    }

    header input:focus {
        color: white;
        width: 36%;
        height: 40px;
        border-radius: 30px;
        border: 0px;
        font-size: 20px;
        margin-top: 4px;
        padding-left: 20px;
    }

    nav {
        margin: 12px -100px 12px 12px;
    }

    header a {
        text-decoration: none;
        color: white;
        padding: 10px; 
        font-size: 22px;  
    }

    .home {
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin: 40px 60px;
        width: 90%;
        height: 130px;
        border-radius: 17px;
        box-shadow: 5px 3px 7px gray;
        gap: 350px;
    }

    .intro {
        margin-top: 40px;
        font-size: 12px;
    }

    .intro p {
        font-size: 18px;
        opacity: 0.7;
    }

    #progress {
        margin-top: 45px;
        font-size: 18px;
    }

    #studyCourse {
        margin: 40px 60px;
        width: 100%;
    }

    #studyCourse h2 {
        color: #0C6DFB;
        margin: 30px 0 15px 6px;
        font-size: 27px;
    }

    .countinue {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
    }

    .rule1 {
        width: 100%;
        height: 139px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .css {
        background-color: white;
        width: 44%;
        border-radius: 20px;
        height: 300px;
        box-shadow: 3px 3px 4px gray;
    }

    .css h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .css p {
        margin: 0px 20px;
        font-size: 19px;
        opacity: 0.7;
    }

    .css button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 460px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .css:hover {
        transform: translateY(-7px);
    }

    .javaScript {
        background-color: white;
        width: 44%;
        border-radius: 20px;
        height: 300px;
        box-shadow: 3px 3px 4px gray;
    }

    .javaScript h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .javaScript p {
        margin: 0px 20px;
        font-size: 19px;
        opacity: 0.7;
    }

    .javaScript button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 460px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .javaScript:hover {
        transform: translateY(-7px);
    }

    .rwd {
        background-color: white;
        width: 44%;
        border-radius: 20px;
        height: 300px;
        box-shadow: 3px 3px 4px gray;
    }

    .rwd h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .rwd p {
        margin: 0px 20px;
        font-size: 19px;
        opacity: 0.7;
    }

    .rwd button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 460px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .rwd:hover {
        transform: translateY(-7px);
    }

    .suggest {
        display: flex;
        gap: 25px;
    }

    .rule2 {
        width: 100%;
        height: 199px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .newbie {
        background-color: white;
        width: 44%;
        border-radius: 20px;
        height: 360px;
        box-shadow: 3px 3px 4px gray;
    }

    .newbie h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .newbie p {
        margin: 0px 20px;
        font-size: 18px;
        opacity: 0.7;
    }

    .newbie button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 460px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .newbie:hover {
        transform: translateY(-7px);
    }

    .python {
        background-color: white;
        width: 44%;
        border-radius: 20px;
        height: 360px;
        box-shadow: 3px 3px 4px gray;
    }

    .python h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .python p {
        margin: 0px 20px;
        font-size: 18px;
        opacity: 0.7;
    }

    .python button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 460px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .python:hover {
        transform: translateY(-7px);
    }
}

@media (max-width: 768px) {
    header {
        background-color:#0C6DFB;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    header p {
        color: white;
        font-weight: bold;
        font-size: 36px;
        margin-top: 3px;
        margin-left: 10px;
    }

    header input {
        display: none;
    }

    header input::placeholder {
        padding-left: 20px;
        height: 44px;
    }

    header input:focus {
        color: white;
        width: 36%;
        height: 40px;
        border-radius: 30px;
        border: 0px;
        font-size: 20px;
        margin-top: 4px;
        padding-left: 20px;
    }

    nav {
        display: none;
    }

    .detail {
        display: inline-block;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin: 40px 18px;
        width: 95%;
        height: 170px;
        border-radius: 17px;
        box-shadow: 5px 3px 7px gray;
        gap: 150px;
    }

    .intro {
        margin-top: 10px;
        font-size: 12px;
        text-align: center;
    }

    .intro p {
        font-size: 18px;
        opacity: 0.7;
    }

    #progress {
        margin-top: -170px;
        font-size: 18px;
        text-align: center;
    }

    #studyCourse {
        margin: 40px 18px;
        width: 100%;
    }

    #studyCourse h2 {
        color: #0C6DFB;
        margin: 30px 0 15px 8px;
        font-size: 27px;
    }

    .countinue {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
    }

    .rule1 {
        width: 100%;
        height: 139px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .css {
        background-color: white;
        width: 96%;
        border-radius: 20px;
        height: 300px;
        box-shadow: 3px 3px 4px gray;
    }

    .css h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .css p {
        margin: 0px 20px;
        font-size: 19px;
        opacity: 0.7;
    }

    .css button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 677px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .css:hover {
        transform: translateY(-7px);
    }

    .javaScript {
        background-color: white;
        width: 96%;
        border-radius: 20px;
        height: 300px;
        box-shadow: 3px 3px 4px gray;
    }

    .javaScript h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .javaScript p {
        margin: 0px 20px;
        font-size: 19px;
        opacity: 0.7;
    }

    .javaScript button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 677px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .javaScript:hover {
        transform: translateY(-7px);
    }

    .rwd {
        background-color: white;
        width: 96%;
        border-radius: 20px;
        height: 300px;
        box-shadow: 3px 3px 4px gray;
    }

    .rwd h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .rwd p {
        margin: 0px 20px;
        font-size: 19px;
        opacity: 0.7;
    }

    .rwd button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 677px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .rwd:hover {
        transform: translateY(-7px);
    }

    .suggest {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
    }

    .rule2 {
        width: 100%;
        height: 199px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .newbie {
        background-color: white;
        width: 96%;
        border-radius: 20px;
        height: 360px;
        box-shadow: 3px 3px 4px gray;
    }

    .newbie h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .newbie p {
        margin: 0px 20px;
        font-size: 18px;
        opacity: 0.7;
    }

    .newbie button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 677px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .newbie:hover {
        transform: translateY(-7px);
    }

    .python {
        background-color: white;
        width: 96%;
        border-radius: 20px;
        height: 360px;
        box-shadow: 3px 3px 4px gray;
    }

    .python h4 {
        margin: 20px 20px 0;
        font-size: 20px;
    } 

    .python p {
        margin: 0px 20px;
        font-size: 18px;
        opacity: 0.7;
    }

    .python button {
        margin: 20px 20px 0;
        font-size: 20px;
        border-radius: 10px;
        width: 677px;
        height: 50px;
        color: white;
        background-color: #0C6DFB;
        border: 0px;
        transition: all 5s ease;
    }

    .python:hover {
        transform: translateY(-7px);
    }

}
