* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f5f0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-content: space-between;
    height: 92px;
}

header p {
    margin: 30px 0 0 40px;
    font-weight: bold;
    font-size: 32px;
    color: #D4AF37;
}

nav {
    margin: 38px 30px 0 940px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}

header a:hover {
    color: rgb(63, 226, 210);
}

.menu {
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.menu h2 {
    color: #D4AF37;
    padding: 20px 15px 2px;
}

.menu img {
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin-left: 18px;
}

.menu p {
    line-height: 30px;
}

.appetizer {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 450px;
    height: 750px;
}

.appetizer p {
    margin: 10px 0 1px;
    padding: 15px;
    font-size: 18px;
    text-align: justify;
}

.mainCourse {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 455px;
    height: 750px;
}

.mainCourse p {
    margin: 10px 0 1px;
    padding: 15px;
    font-size: 17px;
    text-align: justify;
}

.dessert {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 455px;
    height: 750px;
}

.dessert p {
    margin: 10px 0 1px;
    padding: 15px;
    font-size: 18px;
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    align-content: space-between;
    height: 92px;
}

footer p {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}

footer a:hover {
    color: rgb(63, 226, 210);
}