body {
    background-color: #F0F9FF;
}

header {
    text-align: center;
}

header h1 {
    background-color: rgb(210, 255, 242);
    color:rgb(10, 119, 83)
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #036799;
    margin: 2px;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: #0284C7;
}

.nav {
    background-color: #E0F2FE;
}

span {
    margin-left: 4px;
    margin-right: 4px;
}

img {
    width: 54%;
}

.index {
    color: rgba(8, 48, 88, 0.853);
    background-color: white;
}

p {
    font-size: 18px;
    color: black;
}

ul {
    font-size: 18px;
    color: black;
}

li:hover {
    background-color: #DBEAFE;
    color: #1E40AF;
}

h2 {
    color: rgba(8, 48, 88, 0.853);
    background-color: white
}

.footer {
    background-color: rgba(6, 99, 91, 0.89);
    text-align: center;
    height: 46px;
    line-height: 23px;
}
.footer p {
    color: white;
    font-size: 16px;
}