body {
    background-color: #F0F9FF;
}

header {
    text-align: center;
}

header h1 {
    background-color: rgb(210, 255, 242);
    color:rgb(10, 119, 83)
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #036799;
    margin: 2px;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: #0284C7;
}

.nav {
    background-color: #E0F2FE;
}

a:hover {
    color: white;
    background-color: rgba(24, 78, 225, 0.733);
}

.whiteline {
    color: white;
    background-color: white;
}

form {
    text-align: center;
    background-color:  rgb(244, 248, 249);
    margin-bottom: 30px;
}

label {
    color: rgba(8, 48, 88, 0.853);
    font-weight: bold;
}

input {
    font-size: 17px;
}

textarea {
    font-size: 17px;
}

input:focus{
    background-color: rgb(190, 251, 231);
}

textarea:focus {
    background-color: rgb(190, 251, 231);
}
button {
    background-color:  #14b2a5;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    background-color: #108e84;
}

.footer {
    background-color: rgba(6, 99, 91, 0.89);
    text-align: center;
}

.footer p {
    color: white;
    font-size: 16px;
    margin: 5px;
}

br {
    background-color: white;
}