* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(245, 248, 247);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.text {
    font-size: 40px;
    background: linear-gradient(to right, orange, red, blue);
    font-weight: bold;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    margin-left: 440px;
}

nav a {
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    color: black;
}

nav a:hover {
    color: bisque;
}

button {
    border-radius: 10px;
    padding: 16px;
    background-color: blue;
    color: aliceblue;
    border: 0;
    font-size: 14px;
}

button:hover {
    background-color: rgb(106, 249, 227);
    color: black;
    cursor: pointer;
}

.detail {
    display: none;
    color: black;
    font-size: 70px;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    header {
        justify-content: flex-start;  
        display: flex;
        justify-content: space-between; 
    }
    
    .detail {
        display: inline-block;
    }
}