@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    header {
        font-size: 40px;
        background: linear-gradient(to right, blue, violet);
        width: 100%;
        height: 300px;
    }

    .sale {
        display: flex;
        justify-content: flex-end;
        color: white;
        font-size: 20px;
        padding-top: 30px;
    }

    .icon {
        text-align: center;
        margin: 20px;
        color: white;
        font-size: 130px;
    }

    .value {
        display: flex;
        gap: 530px;
        margin: 30px;
    }

    .value button {
        background-color: #6366F11A;
        color: #6366F1;
        width: 89px;
        height: 29px;
        border-radius: 6px;
        border: 0;
        font-weight: bold;
        font-size: 16px;
    }

    .value p {
        font-size: 25px;
    }

    .nd {
        margin: 20px;
    }
    .nd p {
        margin: 4px 10px 0 0;
        font-size: 23px;
        opacity: 0.6;
        line-height: 33px;
    }

    .status {
        display: flex;
        gap: 370px;
        margin: 30px;
        opacity: 0.6;
    }

    .status p {
        font-size: 25px;
    }
    
    hr {
        opacity: 0.6;
        width: 96%;
        margin-left: 15px;
    }

    footer {
        display: flex;
        gap: 370px;
        margin: 20px;
    }

    footer p {
        color: #6366F1;
        font-size: 30px;
    }

    footer button {
        background-color: blue;
        color: white;
        width: 199px;
        height: 49px;
        border-radius: 6px;
        border: 0;
        font-weight: bold;
        font-size: 16px;
        font-size: 23px;
    }
}