/* * {
    width: 0;
    height: 0;
    box-sizing: border-box;
} */
body {
    width: 100px;
    height: 1000px;
}
.text {
    background-color: aquamarine;
    width: 300px;
    height: 200px;
    border: 2px solid greenyellow;
    padding: 200px 40px 50px 120px;
    margin: -40px 40px 50px 200px;
    border-radius: 50%;   /* bo góc */
}

 /* Chiều dài = 200px + 5px*2 +10px*2 */

.textv2 {
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
}

.demo {
    height: 300px;
    width: 300px;
    margin-bottom: 60px;
    background-color:aqua;
    display: inline-block;
}

.ongnoi {
    width: 200px;
    height: 200px;
    background-color: rgb(194, 44, 187);
    position: relative;
}

.cha {
    width: 210x;
    height: 2100px;
    border: 4px solid gray;
    background-image: url(http://127.0.0.1:5500/BTVN/Screenshot%202026-01-14%20130232.png);
}

.conghe {
    width: 60px;
    height: 60px;
    background-color: mediumaquamarine;
    border: 2px solid salmon;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
}

.concung {
    position: relative;
    border: 2px solid palegreen;
    position: relative;
    top: 10px;
}

.pick {
    width: 150px;
    padding: 15px;
    margin-left: 300px;
    border-radius: 10px;
    background-color: aquamarine;
    transition: all 0s ease;
}
 .pick:hover {
    background-color: rgb(166, 220, 250);
    transform: scale(1.3) translateY(-80px) rotate(90deg);
 }