body {
    background-color: rgb(181, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dish div {
    margin: 30px;
}

.dish p {
    text-align: center;
}