body {
    background-color: rgb(205, 203, 203);
}

.dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 120px 120px 60px 150px;
}

.dish img {
    border-radius: 10px;
    width: 330px;
    height: 200px;
}

.dish p {
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}

.dish .sandwich {
    font-size: 17px;
}