* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
}

.special {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin: 30px;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.big {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 43%;
    margin: 20px 20px 20px 100px;
    text-align: center;
    transition: all 0.2s ease;
}

.big:hover {
    transform: scale(1.1);
}

.small {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px;
    text-align: center;
    transition: all 0.2s ease;
}

.small:hover {
    transform: scale(1.1);
}

.lastBig {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 43%;
    margin: 20px;
    text-align: center;
    transition: all 0.2s ease;
}

.lastBig:hover {
    transform: scale(1.1);
}


h3 {
    margin: 10px;
}

.price {
    color: #DEB77B;
    margin-bottom: 10px;
    font-size: 20px;
}