* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f5f0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-content: space-between;
    height: 92px;
}

header p {
    margin: 30px 160px 0 40px;
    font-weight: bold;
    font-size: 32px;
    color: #D4AF37;
}

nav {
    margin: 38px 30px 0 870px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}

header a:hover {
    color: rgb(196, 222, 255);
}

.header {
    background-image: url(./bda3e7d064464cd7f2c9fc4b4ee5de38890ed225.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 60%;
    width: 100%;
    height: 400px;
    align-content: center;
    line-height: 40px;
    color: rgb(250, 245, 245);
    text-align: center;
}

.header h2 {
    font-size: 40px;
    margin: -30px auto 15px;
}

.header p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
}

.header button {
    background-color: #D4AF37;
    padding: 10px;
    border-radius: 16px;
}

.header a {
    text-decoration: none;
    color: whitesmoke;
}

.hot h2 {
    margin: 30px;
    text-align: center;
    font-size: 40px;
}

.hot h2::after {
  content: "";
  position: absolute;
  left: 800px;
  bottom: 140px;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #d4a017;
  border-radius: 2px;
}

.hot img {
    width: 20%;
    height: 360px;
    border-radius: 20px;
    margin: 60px 36px;
    transition: all 0.2s ease;
}

.hot img:hover {
    transform: rotate(40deg);
}

#about {
    background-color: #1e1e1e;
    padding: 40px;
    text-align: center;
}

#about h2 {
    color: #d4a017;
    margin-bottom: 30px;
    font-size: 40px;
}

#about p {
    color: rgb(219, 215, 215);
    opacity: 0,2;
    line-height: 28px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}

footer p {
    opacity: 0.6;
}