* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f5f0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-content: space-between;
    height: 92px;
}

header p {
    margin: 30px 0 0 40px;
    font-weight: bold;
    font-size: 32px;
    color: #D4AF37;
}

nav {
    margin: 38px 30px 0 880px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}

header a:hover {
    color: bisque;
}

h1 {
    text-align: center;
    margin: 20px;
}

img {
    margin: 20px 0 4px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
}

.hot {
    background-color: white;
    text-align: center;
    width: 40%;
    height: 550px;
    margin: 40px 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    transition: all 0.2s ease;
    line-height: 40px;
}

.hot:hover {
    transform: scale(1.1);
}

.hot p {
    margin: 10px 30px 35px;
    font-size: 13px;
    line-height: 28px;
}

.hot a {
    text-decoration: none;
    color: #D4AF37;
}

#others div {
    background-color: white;
    margin: 40px 400px;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    transition: all 0.2s ease;
    line-height: 40px;
}

#others div:hover {
    transform: scale(1.1);
}

.other h2 {
    margin: 10px 20px 0;
    font-size: 18px;
}

.other p {
    margin: 1px 20px;
    font-size: 13px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 72px;
    margin: 40px 0 0;
}

footer p {
    padding: 30px;
}